{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources/css/shopping.css') }}">
    {% endblock %}

{% block main%}

<main>

    <section class="filter-product">

        <h2 class="title-filter">Affiner la recherche</h2>

<!-- Filtre par type de vin -->
        <h3 class="choice-filter price">Prix</h3>
        <div class="contain-price"></div>
<!-- Filtre par type de vin -->

        <h3 class="choice-filter type">Type</h3>
        <div class="contain-type"></div>

<!-- Filtrer par pays -->
        <h3 class="choice-filter country">Pays</h3>
            <div class="contain-country"></div>


<!-- Filtre par régions -->

        <h3 class="choice-filter area">Régions</h3>
        <div class="contain-area"></div>

<!-- Filtre par année -->
        <h3 class="choice-filter year">Millésime</h3>

        {%  for year in year %}
            <div class="filter-year">
            <div class="contain-value">
                <input type="checkbox" id="year" name="year" value="{{ year.year }}">
                {{ year.year }}
                </div>
            </div>

        {% endfor %}



    </section>


    <section class="container-products">
        <div class="promo">
        {% if date  < '26/12/2017' %}

            <img src="{{ asset('resources/img/banner/promo.gif') }}">

        {% else %}

            <p>La date est depasée</p>

        {% endif %}
        </div>

<!--
        <section class="search-bar">

           <div class="contain-filter">
            <p>Trier par :</p>

            <select id="tri">
                <option value="nul" selected >-- aucun tri --</option>
                <option value="asc">Prix les moins chers</option>
                <option value="desc">Prix les plus chers</option>
            </select>

               </div>

        </section>
-->
        <section class="contain-list">
         <!-- Affichage en ajax de la liste des produits -->
        </section>


        <button class="buttonload">
            <i class="fa fa-refresh fa-spin"></i>chargement des produits...
        </button>

    </section>
</main>

    {% block javascripts %}
        <script src="{{ asset('resources/js/animation/animate.js') }}"></script>
        <script src="{{ asset('resources/js/ajax/shop.js') }}"></script>
        {% endblock %}

{% endblock %}